.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
build
coverage
phpunit.xml
testbench.yaml
vendor
node_modules
.env
.env.backup
/.idea
/.vscode
.run
.DS_Store
Thumbs.db
/.php-cs-fixer.cache
composer.lock
